[submodule "tractor/externals/googletest"]
	path = tractor/externals/googletest
	url = https://github.com/google/googletest.git
[submodule "googletest"]
	branch = v1.13.0
[submodule "tractor/externals/glm"]
	path = tractor/externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "glm"]
	branch = 0.9.9.8
[submodule "tractor/externals/spdlog"]
	path = tractor/externals/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "spdlog"]
	branch = v1.12.0
