[submodule "tractor/externals/googletest"]
	path = tractor/externals/googletest
	url = https://github.com/google/googletest.git
[submodule "googletest"]
	branch = v1.13.0
[submodule "tractor/externals/glm"]
	path = tractor/externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "glm"]
	branch = 0.9.9.8
[submodule "tractor/externals/doxygen"]
	path = tractor/externals/doxygen
	url = https://github.com/doxygen/doxygen.git
